.beacon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: auto;
  right: 40px;
  bottom: 40px;
  min-width: 60px;
  height: 55px;
  border-radius: 1px;
  z-index: 100;
  background-color: var(--mantine-color-white);
  color: var(--mantine-primary-color-6);
  border: 3px solid var(--mantine-primary-color-6);
  padding: 0.5rem 1rem;
}

.available {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎉</text></svg>")
      16 0,
    auto;
}

.working {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👨‍💻</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/
}
