.wrapper {
  position: relative;
  box-sizing: border-box;
  background-color: var(--mantine-primary-color-6);
}

.description {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 60px;
  color: var(--mantine-color-white);
  line-height: 110%;
  @media (min-width: $mantine-breakpoint-xs) {
    margin-top: 6rem;
    font-size: 102px;
  }

  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 116px;
  }
}

.controls {
  margin-top: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-xl);
  }
}

.control {
  height: rem(54px);
  padding-left: rem(38px);
  padding-right: rem(38px);

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(54px);
    padding-left: rem(18px);
    padding-right: rem(18px);
    flex: 1;
  }
}

.hero {
  display: flex;
  height: 90vh;
  flex-direction: column;
  @media (min-width: $mantine-breakpoint-md) {
    flex-direction: row;
  }

  @media (min-width: $mantine-breakpoint-lg) {
  }
}

.portrait {
  position: relative;
  width: 100%;
  height: 90vh;
  margin-bottom: 1rem;
  @media (min-width: $mantine-breakpoint-md) {
    max-width: 461px;
  }

  @media (min-width: $mantine-breakpoint-lg) {
  }
}

.logo {
  @media (min-width: $mantine-breakpoint-md) {
    margin-left: 3rem;
    margin-top: auto;
  }

  @media (min-width: $mantine-breakpoint-lg) {
  }
}
